@media(max-width: 600px){
    .caja {
        flex-direction: column;
    }

    .grid-container{
        flex-direction: column;
    }
}
.caja{
    display: flex;
    justify-content: space-around;
    width: auto;
    height: auto;
    margin: auto;
    background-color: antiquewhite;
    padding: 3px;
    border: 10px solid rgb(184, 48, 48);
    
}
.box{
    width: 150px;
    height: 160px;
    margin: auto;
    padding: 1px;
    border: 10px solid rgb(184, 48, 48);
    text-align: center;
    
    
}
.kli{
    width: 150px;
    height: 160px;
    margin: auto;
    padding: 1px;
    border: 10px solid rgb(184, 48, 48);
    text-align: center;
}
.clo{
    width: 150px;
    height: 160px;
    margin: auto;
    padding: 1px;
    border: 10px solid rgb(184, 48, 48);
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    width: auto;
    height: auto;
    margin: auto;
    padding: 1px;
    border: 10px solid rgb(184, 48, 48);
    text-align: center;
}
.grid-item{
    width: 150px;
    height: 160px;
    margin: auto;
    padding: 1px;
    border: 10px solid rgb(184, 48, 48);
    text-align: center;
}
.box p1{
    font-size: 9px;
}
.kli p2{
    font-size: 9px;
}
.clo p3{
    font-size: 9px;
}
.grid-item{
    font-size: 9px;
}
body{
    margin: 10px;
    border: 10px solid cadetblue;

}